
#header{display: flex;align-items: center;
    justify-content: space-between;padding:2px 30px;
    background-color: forestgreen;
    box-shadow: 1px 5px 10px rgba(0, 0, 0.05);color: white;
}
#header a{color: aliceblue;text-decoration: none;}  
#header h3{font-size: x-large;}  
#header ul{display: flex;width: 45%;justify-content:space-evenly;align-items: center;}
#header ul li{list-style: none;padding: auto;;}  
#dashboard{padding: 20px;display: flex;justify-content: space-evenly;align-items: center;}
#info{border: 1px solid grey;width: 30%;}
#info h2{text-align: center;font-size: xx-large;}
#dashboard h4{background-color: blue;top: 0;margin: 0;padding: 15px;}
#stats{border: 1px solid grey;width: 60%;align-items: center;
    justify-content: space-evenly;}
#stats1{display: flex;align-items: center;justify-content: space-evenly;
    padding: 20px 5px;}
#reg{display: flex;align-items: center;justify-content: center;height: 80vh;}      
#reg form{display: block;border: 1px solid gray;
    padding: 10px 31px 30px 10px;border-radius: 15px;box-shadow: 3px 5px 15px rgba(0, 0, 0.05);}      
.sts{border: 1px solid grey;align-items: center;justify-content: center;
    text-align: center;width: 20%;box-shadow: 1px 5px 10px rgba(0, 0, 0.05);
    border-radius: 10px;
} 
#products table,tr,th,td{border-collapse: collapse;border: 1px solid grey;padding: 10px;} 
#profile{height: fit-content;padding: 50px;height: 100vh;background-color: bisque;} 
#profile1{background-color: azure;height: fit-content;
    display: flex;align-items: center;justify-content:space-between;padding: 40px;width: 40%;border-radius: 30px;}  
#profile1 table,td,th,tr{border-collapse: collapse;border: 1px solid grey;}
#profile1 table{height: 300px;}